* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: paleturquoise;
    font-family: calibri, san-serif;
}
h1 {
    text-align: center;
    color: brown;
    margin: 5% 0%;
}
p {
    margin: 1% 5% 5% 5%;
    float: left;
    clear: left;
    color: darkred;
}
.daughter {
/*    width: 90%;*/
    border: 1px solid red;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
}
.underheader{
    width: 40%;
    padding: 1%;
    text-align: center;
    float: right;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
#underheadFirstColumn {
    background-color: lightcoral;
    color: white;
}
#underheadSecondColumn {
    background-color: lawngreen;
}
#underheadThirdColumn {
    background-color: yellow;
}
.row {
    width: 100%;
}

.first-column, .second-column, .third-column {
    width: 33%;
    float: left;
    padding: 2%;
}



@media (min-width: 768px) and (max-width: 991px) {
    .first-column, .second-column {
        width: 50%;
    }
    .third-column {
        width: 100%;
    }
    #underheadThirdColumn {
        width: 19%;
    }
}



@media (max-width: 767px) {
    .first-column, .second-column, .third-column {
        width: 100%;
        padding: 2%;
    }
}
