* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: paleturquoise;
    font-family: calibri, san-serif;
}
h1 {
    text-align: center;
    color: brown;
    margin: 5% 0%;
    font-size: 4em;
}
h3 {
    font-size: 1.5em;
}
p {
    margin: 0.5em 1em 1em 1em;
    clear: both;
    font-size: 1.1em;
}
.row {
    width: 100%;
    padding: 0 0.5em 0 0.5em;
}

.first-column, .second-column, .third-column {
    width: 33.33%;
    padding: 0.5em;
    float: left;
}
.third-column {
    margin-bottom: 10%;
}

div.daughter {
    height: auto;
    border: 3px solid darkred;
    background-color: beige;
}
div.underheader{
    width: 40%;
    padding: 0.2em;
    text-align: center;
    float: right;
    border-bottom: 3px solid darkred;
    border-left: 3px solid darkred;
}
#underheadFirstColumn {
    background-color: lightcoral;
    color: white;
}
#underheadSecondColumn {
    background-color: lawngreen;
}
#underheadThirdColumn {
    background-color: yellow;
    color: blue;
}
footer {
    font-size: 0.7em;
    text-align: center;
}

@media (min-width: 768px) and (max-width: 991px) {
    .first-column, .second-column {
        width: 50%;
        padding: 0.5em;
        float: left;
    }
    .third-column {
        width: 100%;
        padding: 0.5em;
        float: left;
        clear: both;
    }
    #underheadThirdColumn {
        width: 19.5%;
    }
}

@media (max-width: 767px) {
    .first-column, .second-column, .third-column {
        width: 100%;
        padding: 0.5em;
        float: left;
    }
}
